[alias]
    st = status
    s = status
    a = add
    c = commit
    d = diff
    ds = diff --staged
    p = push
    pf = push --force
    psu = push --set-upstream
    showlog = log --all --graph --decorate --oneline
    la = log --graph --all --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --decorate --all --abbrev-commit --oneline --graph --stat
    last = log --decorate -1 --abbrev-commit --name-status
    rsh = reset --soft HEAD~
    rbi = rebase -i
    ls = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --name-status
    l = log --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rdiff = "! git --git-dir=\"$(git rev-parse --show-toplevel)\"/.git diff"
    ctags = !.git/hooks/ctags
    # print dangling commits (unreachable) that used to be refs (such as HEAD /
    # master).
    # This command can be used in combination with gitk --all to use the git
    # gui.
    fuck = "!git fsck --no-reflogs | awk '/dangling commit/ {print $3}'"
[core]
    editor = "nvr -s -cc split --remote-wait-silent"
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[user]
[init]
