[user]
    name = "antoine zimmermann"
    email = "antoine.zimmermann@webdia-group.com"

[alias]
  st = status
  s = status
  a = add
  c = commit
  d = diff
  ds = diff --staged
  p = push
  showlog = log --all --graph --decorate --oneline
  la = log --graph --all --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ll = log --decorate --all --abbrev-commit --oneline --graph --stat
  last = log -1 --abbrev-commit
  rh = reset --hard HEAD~
[core]
	editor = vim
